{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

     <!-- foreign key query -->
    {% for book in author.book_set.all %}
    <hr>
    <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
    {% endfor %}
  </div>
{% endblock %}
